.inStockTextStyle {
    color: #007600;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
}

.stockTextStyle {
    color: black; 
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
}

  .dropDown {
    background-color:transparent;
    color: black; 
    padding: 1px;
    font-size: 13px;
    font-family:  Arial;
    text-align: center;
    border: thin;
    border-color:transparent;
    border-radius: 10%;
    border-style: none;
    display: block;
    position: absolute;
    left: 3px;
    top: 0px;
    height: 12px;
    width: 22px;
    
  }

.arrowStyle {
  height: 10px;
  vertical-align: middle;
  z-index: 0;
  position: absolute;

}

.quantityBox {
    position: relative;
    z-index: 0;
}

.quantityBox select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    width: 65px;
    z-index: 0;
    height: 23px;
    text-align-last: center;
    cursor: pointer;
    font-size: 13px;
    font-family:  Arial;
  }

#arrowSelect {
    background-image: url('../../Images/downArrow.png');
    background-size: 13px 13px;
    background-repeat: no-repeat;
    background-position: 80% 50%;
}

#optionStyle {
    font-size: 13px;
    font-family:  Arial;
    background-color: white;
}